# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/dispatch
!/modules/dispatch/*
/themes/*
!/themes/admin_default/css/dispatch.css
!/themes/admin_default/js/dispatch.js
!/themes/admin_default/images/dispatch
!/themes/admin_default/images/dispatch/*
!/themes/admin_default/modules/dispatch
!/themes/admin_default/modules/dispatch/*
!/themes/default/css/dispatch.css
!/themes/default/js/dispatch.js
!/themes/default/images/dispatch
!/themes/default/images/dispatch/*
!/themes/default/modules/dispatch
!/themes/default/modules/dispatch/*
/.project
/vendor
/.gitattributes
/composer.json
